run = "npm start"
entrypoint = "versi-immobilier/server.js"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm run build"]
